<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirm delete Book?</title>
</head>
<body>
    <p>Are you sure to delete {{book.title}}?</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="Submit" value="Yes"/>
        <a href="{% url 'all_books_route' %}">Cancel</a>
    </form>
</body>
</html>